.clock {
    font-size: 10.5em;
    color: #ffffff;
    font-weight: 500;
    user-select: none;
    cursor: default;
    text-align: center;
    line-height: 1;
    letter-spacing: -5px;
    z-index: 1;
    margin-top: 0.65em;
}
