* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    background-color: grey;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
